:root {
  --vp-c-brand-1: #2563eb;
  --vp-c-brand-2: #3b82f6;
  --vp-c-brand-3: #1d4ed8;
  --vp-c-brand-soft: rgba(37, 99, 235, 0.14);
}

.dark {
  --vp-c-brand-1: #3b82f6;
  --vp-c-brand-2: #60a5fa;
  --vp-c-brand-3: #2563eb;
  --vp-c-brand-soft: rgba(59, 130, 246, 0.16);
}
